<template name="hello">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h5>Sintaxe da URL pro Iframe</h5>
      <code>
        <p><b>Sintaxe:</b> http://[domínio]/aula/[idSala]/[nomeSala]/[tipoUsuario]/[idUsuario]/[nomeUsuario]/</p>
        <b>Exemplo:</b> <a href="{{rootUrl}}aula/010203/Matem%C3%A1tica%20II/professor/040506/Jos%C3%A9%20da%20Silva/">
          {{rootUrl}}aula/010203/Matemática II/professor/040506/José da Silva/
        </a>
      </code>
      <br><br><br>

      <h5>Resultado:</h5>
      <ul>
        <li><b>ID da Sala:</b> {{dadosDaAula.idSala}}</li>
        <li><b>Nome da Sala:</b> {{dadosDaAula.nomeSala}}</li>
        <li><b>Tipo de Usuário:</b> {{dadosDaAula.tipoUsuario}}</li>
        <li><b>ID do Usuário:</b> {{dadosDaAula.idUsuario}}</li>
        <li><b>Nome do Usuário:</b> {{dadosDaAula.nomeUsuario}}</li>
      </ul>
      <br>

      <h5>Banco de Dados</h5>
      <ul>
        <li><strong>Usuário já cadastrado:</strong> NÃO</li>
        <li><strong>Aula já Cadastrada:</strong> NÃO</li>
      </ul>
      <form id="join-form" name="join-form">
        <div class="row join-info-group">
          <div class="col-sm hide">
            <p class="join-info-text">AppID</p>
            <input id="appid" type="text" value="3f52f4ef54d4493986689268f42355bd" required>
          </div>
          <div class="col-sm hide">
            <p class="join-info-text">Token(optional)</p>
            <input id="token" type="text" placeholder="enter token">
          </div>
          <div class="col-sm hide">
            <p class="join-info-text">Channel</p>
            <input id="channel" type="text" value="smartium" required>
          </div>
        </div>

        <div class="button-group hide">
          <button id="host-join" type="submit" class="btn btn-primary btn-sm">Entrar como Professor</button>
          <button id="audience-join" type="submit" class="btn btn-primary btn-sm">Entrar como Aluno</button>
          <button id="leave" type="button" class="btn btn-primary btn-sm" disabled>Sair</button>
        </div>
      </form>

      <div class="row video-group">
        <div class="col">
          <p id="local-player-name" class="player-name"></p>
          <div id="local-player" class="player"></div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div id="remote-playerlist"></div>
        </div>
      </div>
    </div>
  </div>
</template>
