<template name="hello">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <form id="join-form" name="join-form">
        <div class="row join-info-group">
          <div class="col-sm hide">
            <p class="join-info-text">AppID</p>
            <input id="appid" type="text" value="3f52f4ef54d4493986689268f42355bd" required>
          </div>
          <div class="col-sm hide">
            <p class="join-info-text">Token(optional)</p>
            <input id="token" type="text" placeholder="enter token">
          </div>
          <div class="col-sm hide">
            <p class="join-info-text">Channel</p>
            <input id="channel" type="text" value="smartium" required>
          </div>
        </div>

        <div class="button-group">
          <button id="host-join" type="submit" class="btn btn-primary btn-sm">Entrar como Professor</button>
          <button id="audience-join" type="submit" class="btn btn-primary btn-sm">Entrar como Aluno</button>
          <button id="leave" type="button" class="btn btn-primary btn-sm" disabled>Sair</button>
        </div>
      </form>

      <div class="row video-group">
        <div class="col">
          <p id="local-player-name" class="player-name"></p>
          <div id="local-player" class="player"></div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div id="remote-playerlist"></div>
        </div>
      </div>
    </div>
  </div>
</template>
